@import "base/normalize";
@import "base/fonts";
@import "abstracts/variables";
@import "layout/wrapper";
@import "layout/header";
@import "layout/main-welcoming";
@import "layout/main-products";
@import "layout/main-submit";
@import "layout/main-repair";
@import "layout/main-measurer";
@import "layout/main-stylistic";
@import "layout/main-design-project";
@import "layout/main-goals";
@import "layout/main-team";
@import "layout/main-customers";
@import "layout/main-map";
@import "layout/footer";

@media (max-width: 375px) {
  .wrapper {
    width: 375px;
  }

  .header {
    height: 55px;
    background-color: rgb(46, 9, 82);
  }

  .main_welcoming {
    height: 476px;
    background-color: rgb(141, 105, 226);
  }

  .main_products {
    height: 1091px;
    background-color: rgb(42, 133, 128);
  }

  .main_submit {
    height: 474px;
    background-color: rgb(88, 18, 18);
  }

  .main_repair {
    height: 1890px;
    background-color: rgb(8, 68, 26);
  }

  .main_measurer {
    display: none;
    height: 910px;
    background-color: rgb(97, 128, 15);
  }

  .main_stylistic {
    height: 2170px;
    background-color: rgb(145, 109, 33);
  }

  .main_goal {
    height: 780px;
    background-color: rgb(106, 192, 72);
    display: none;
  }

  .main_team {
    height: 1690px;
    background-color: rgb(192, 72, 138);
  }

  .main_clients {
    display: none;
    height: 1016px;
    background-color: rgb(168, 92, 187);
  }

  .main_map {
    height: 840px;
    background-color: rgb(119, 116, 119);
  }

  .footer {
    height: 200px;
    background-color: rgb(219, 87, 87);
  }
}
