$text-gold: #e3b873;
$text-white: #ffffff;
$text-dark: #363636;
$text-gray: #959595;
$base-background-color: #131313;

$proxima-nova: "Proxima Nova", "Times New Roman", serif;
$futuraBookC: "FuturaBookC", "Times New Roman", serif;
$futuraDemiC: "FuturaDemiC", "Times New Roman", serif;
$futuraMediumC: "FuturaMediumC", "Times New Roman", serif;
$yeseva-one: 'Yeseva One', "Times New Roman", serif;
