.header {
  @media (max-width: 1355px) {
    justify-content: space-between;
    height: 52px;
    align-items: center;
  }
  height: 83px;
  display: flex;
  background-color: $base-background-color;
}

.logo {
  @media (max-width: 1355px) {
    margin-top: 0;
  }
  font-family: "FuturaDemiC";
  font-size: 0.875rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: $text-gold;
  margin-left: 7%;
  margin-top: 37px;
}

.navigation {
  @media (max-width: 1355px) {
    display: none;
  }
  width: 582px;
  margin-top: 37px;
  margin-left: 7%;

  &--link {
    font-family: "FuturaBookC";
    font-size: 0.875rem;
    line-height: 1rem;
    text-transform: uppercase;
    color: $text-white;
    text-decoration: none;
  }

  &-gold {
    color: $text-gold;
  }

  &--links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.phone_number {
  @media (max-width: 1355px) {
    margin-top: 0;
    color: $text-white;
    text-decoration: none;
    margin-right: 3%;
  }
  margin-left: 4.6%;
  margin-top: 37px;
  color: $text-gold;
  font-family: "FuturaDemiC";
  font-size: 0.875rem;
  line-height: 1rem;
}

.phone_me {
  @media (max-width: 1355px) {
    display: none;
  }
  margin-left: 3%;
  height: 37px;
  width: 161px;
  color: $text-white;
  background-color: $text-gold;
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  font-family: "FuturaDemiC";
  border: none;
  align-self: center;
  cursor: pointer;
}
