.main_map {
  @media (max-width: 1355px) {
    height: auto;
    background: $base-background-color;
  }
  background: url(./../images/main-map-background.png) 50% 50%;
  height: 954px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::before {
    @media (max-width: 1355px) {
      display: none;
    }
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
  }
  .question_form {
    @media (max-width: 1355px) {
      width: 100%;
      height: auto;
      position: static;
      background-color: $base-background-color;
      order: 1;
    }
    position: absolute;
    bottom: 78%;
    z-index: 6;
    width: 883px;
    height: 445px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--customer {
      @media (max-width: 570px) {
        flex-direction: column;
        width: 90%;
        margin-top: 0;
      }
      display: flex;
      width: 520px;
      justify-content: space-between;
      margin-top: 5%;
    }
    &--title {
      font-family: $yeseva-one;
      font-style: normal;
      font-weight: normal;
      font-size: 1.25rem;
      line-height: 1.75rem;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      margin-top: 5%;
    }
    &--label {
      font-family: $futuraBookC;
      font-size: 0.9375rem;
      line-height: 1.25rem;
      color: rgba(255, 255, 255, 0.5);
    }
    &--input {
      background: rgba(255, 255, 255, 0);
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      font-family: $futuraMediumC;
      font-size: 1.125rem;
      line-height: 1.563rem;
      color: #ffffff;
    }
    &--query {
      @media (max-width: 570px) {
        margin-top: 40px;
        width: 90%;
      }
      display: flex;
      flex-direction: column;
      width: 520px;
      height: 50px;
      margin-top: 3%;
    }
    &--name {
      @media (max-width: 570px) {
        margin-top: 40px;
        width: 100%;
      }
      display: flex;
      flex-direction: column;
      width: 231px;
      height: 50px;
    }
    &--phone {
      @media (max-width: 570px) {
        margin-top: 40px;
        width: 100%;
      }
      display: flex;
      flex-direction: column;
      width: 231px;
      height: 50px;
    }
    &--checkbox {
      @media (max-width: 375px) {
        align-self: flex-start;
        margin-left: 13px;
        margin-top: 10px;
      }
      margin-top: 5%;
      label {
        font-family: $futuraBookC;
        font-size: 1rem;
        line-height: 1.375rem;
        color: #ffffff;
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }

        .question_form--checkmark {
          position: absolute;
          top: 0;
          left: 7px;
          height: 18px;
          width: 18px;
          background-color: #ccc;
          border-radius: 1px;
          &:after {
            content: "";
            position: absolute;
            display: none;
          }
        }
        & input:checked ~ .question_form--checkmark {
          background: #e3b873;
        }
        & input:checked ~ .question_form--checkmark:after {
          display: block;
        }
        & .question_form--checkmark:after {
          left: 6px;
          top: 1px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
    &--submit {
      @media (max-width: 375px) {
        margin-top: 70px;
        width: 340px;
      }
      margin-top: 3%;
      display: flex;
      justify-content: flex-end;
      input {
        @media (max-width: 375px) {
          width: 340px;
        }
        background: #e3b873;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
        width: 200px;
        height: 51px;
        font-family: $futuraDemiC;
        font-size: 0.8125rem;
        line-height: 1.125rem;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        border: none;
      }
    }
  }
  &--description {
    @media (max-width: 1355px) {
      order: 3;
      width: 90%;
      margin-top: 41px;
    }

    @media (max-width: 470px) {
      order: 3;
      
      width: 90%;
    }
    font-family: $yeseva-one;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    text-transform: uppercase;
    color: rgb(227, 184, 115);
    z-index: 6;
    margin-top: 19%;
    width: 456px;
  }
  &--social_icons {
    @media (max-width: 1355px) {
      order: 4;
    }
    @media (max-width: 375px) {
      margin-top: 20px;
      margin-bottom: 40px;
    }
    margin-top: 2%;
    margin-bottom: 20px;
    z-index: 6;
    display: flex;
    width: 70px;
    justify-content: space-between;
  }

  &--map {
    @media (max-width: 1355px) {
      max-width: 90%;
      order: 2;
    }

    @media (max-width: 375px) {
      margin-top: 40px;
      width: 340px;
      height: 255px;
    }

    z-index: 6;
    margin-top: 3%;
  }
}
