.main_design_project {
  .services_desktop {
    @media (max-width: 1355px) {
      display: none;
    }
  }
  @media (max-width: 1355px) {
    height: auto;
    background-color: $base-background-color;
  }
  height: 620px;
  background-color: $text-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--chapter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }

  &--icon {
    margin-top: 7%;
  }

  &--title {
    @media (max-width: 1355px) {
      color: $text-white;
    }
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
  }

  &--description {
    @media (max-width: 1355px) {
      color: $text-white;
    }
    @media (max-width: 700px) {
      width: 90%;
    }
    font-family: "FuturaBookC";
    font-size: 1.25rem;
    line-height: 1.688rem;
    text-align: center;
    color: #363636;
    width: 763px;
    margin-top: 2%;
  }

  .gallery {
    @media (max-width: 1355px) {
      width: 90%;
      margin-top: 3%;
      justify-content: space-around;
      /* justify-content: space-between; */
      height: auto;
      flex-wrap: wrap;
    }
    display: flex;
    width: 1236px;
    margin-top: 3%;
    justify-content: space-between;
    &--item {
      @media (max-width: 1355px) {
       height: 650px;
      }
      position: relative;
    }
    // &--item-first {
    //   @media (max-width: 1355px) {
    //    height: 500px;
    //   }
    // }

    &--item_description {
      @media (max-width: 1355px) {
        top: 43%;
        left: 0;
        &-first {
          height: 235px;
        }
        &-second, &-third {
          height: 310px;
        }
      }
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
      width: 330px;
      padding: 25px;
      position: absolute;
      top: 67%;
      left: 8%;
      z-index: 1;
      background-color: $text-white;
    }
    &--title {
      margin: 0;
      font-family: "Yeseva One";
      font-style: normal;
      font-weight: normal;
      font-size: 1.125rem;
      line-height: 1.563rem;
      color: #363636;
      padding-left: 8%;
    }
    &--services_list {
      font-family: "FuturaBookC";
      font-size: 0.9375rem;
      line-height: 1.563rem;
      color: #959595;
      margin-bottom: 45px;
    }
    &--item_price {
      @media (max-width: 1355px) {
        top: 73%;
        left: 0;
      }
      width: 228px;
      height: 54px;
      background: #e3b873;
      box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 1.125rem;
      line-height: 1.563rem;
      text-transform: uppercase;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 115%;
      z-index: 2;
      left: 8%;
      &-not_mini {
        top: 133%;
        @media (max-width: 1355px) {
          top: 86%;
        }
      }
      &-full {
        top: 163%;
        @media (max-width: 1355px) {
          top: 86%;
        }
      }
    }
  }
}
