.main_team {
  @media (max-width: 1355px) {
    height: auto;
  }
  height: 389px;
  background-color: $base-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--chapter {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;
  }
  &--title {
    font-family: $yeseva-one;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height:  1.75rem;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
  }
  &--icon {
    margin-top: 10%;
  }
  &--description {
    @media (max-width: 570px) {
      width: 90%;
    }
    @media (max-width: 375px) {
     margin-top: 20px;
    }
    font-family: $futuraBookC;
    font-size: 1.25rem;
    line-height: 1.688rem;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 2%;
    width: 450px;
  }
  &--employees {
    @media (max-width: 1355px) {
      width: 85%;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media (max-width: 375px) {
      margin-top: 80px;
     }

    display: flex;
    margin-top: 50px;
  }

  .employees_item {
    @media (max-width: 1355px) {
      margin-bottom: 150px;
    }
    display: flex;
    flex-direction: column;
    width: 356px;
    align-items: center;
    position: relative;
    // &--portrait {

    // }
    &--icon {
      @media (max-width: 375px) {
        left: -4%;
        bottom: 92%;
      }
      position: absolute;
      z-index: 2;
      left: 2%;
      bottom: 89%;
    }
    &--experience {
      width: 237px;
      height: 44px;
      background: rgb(227, 184, 115);
      font-family: $yeseva-one;
      font-style: normal;
      font-weight: normal;
      font-size: 0.8125rem;
      line-height: 1.25rem;
      text-align: center;
      text-transform: uppercase;
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 104.9%;
    }
  }

  .employee_data {
    width: 237px;
    height: 137px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 15px;
    position: absolute;
    top: 79%;
    padding-top: 5%;
    &--name {
      font-family: $yeseva-one;
      font-style: normal;
      font-weight: normal;
      font-size: 1.125rem;
      line-height:  1.563rem;
      text-align: center;
      color: rgb(24, 24, 24);
    }
    &--profession {
      font-family: $futuraBookC;
      font-size: 1.125rem;
      line-height: 1.625rem;
      text-align: center;
      color: rgb(149, 149, 149);
    }
  }

  .employees_description {
    @media (max-width: 1355px) {
      display: none;
    }
    margin-top: 9%;
    font-family: $futuraBookC;
    font-size: 1.25rem;
    line-height: 2.125rem;
    text-align: center;
    color: rgb(54, 54, 54);
    width: 558px;
    height: 136px;
    &::before {
      content: "";
      display: block;
      width: 55px;
      height: 2px;
      background-color: $text-gold;
      margin: 2% auto;
    }
  }
}
