.main_submit {
  @media (max-width: 1355px) {
    background-color: $base-background-color;
    height: auto;
  }
  height: 650px;
  background-color: $text-white;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--decorator {
    @media (max-width: 1355px) {
      margin-top: 25px;
    }
    margin-top: 22%;
  }
  &--title {
    @media (max-width: 1355px) {
      color: $text-white;
    }

    @media (max-width: 700px) {
      width: 90%;
    }
    font-family: $futuraBookC;
    font-size: 1.25rem;
    line-height: 2.125rem;
    text-align: center;
    color: #363636;
    width: 681px;
    height: 131px;
  }
  .form {
    @media (max-width: 1355px) {
      margin-top: 40px;
     
    position: relative;
    width: 85%;
    margin-bottom: 100px;
    }
    display: flex;
    flex-direction: column;
    &--user_data {
      @media (max-width: 1355px) {
        color: $text-white;
        flex-direction: column;
        height: auto;
        width: 100%;
      }
      display: flex;
      width: 769px;
      height: 51px;
      align-items: center;
      justify-content: space-between;
    }
    &--name {
      @media (max-width: 1355px) {
        width: 100%;
      }
      display: flex;
      flex-direction: column;
      label {
        @media (max-width: 1355px) {
          font-size: 0.9375rem;
          line-height: 1.25rem;
          color: rgba(255, 255, 255, 0.5);
        }
        font-family: $futuraBookC;
        font-size: 0.9375rem;
        line-height: 1.25rem;
        color: rgba(54, 54, 54, 0.5);
      }
      input {
        @media (max-width: 1355px) {
          background: rgba(255, 255, 255, 0);
          border: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
          font-family: $futuraMediumC;
          font-size: 1.125rem;
          line-height: 1.563rem;
          color: #ffffff;
        }
        border: none;
        border-bottom: 1px solid rgba(54, 54, 54, 0.3);
        
      }
    }
    &--phone {
      @media (max-width: 1355px) {
        width: 100%;
        margin-top: 60px;
      }
      display: flex;
      flex-direction: column;
      label {
        @media (max-width: 1355px) {
          font-size: 0.9375rem;
          line-height: 1.25rem;
          color: rgba(255, 255, 255, 0.5);
        }
        font-family: $futuraBookC;
        font-size:  0.9375rem;
        line-height: 1.25rem;
        color: rgba(54, 54, 54, 0.5);
      }
      input {
        @media (max-width: 1355px) {
          background: rgba(255, 255, 255, 0);
          border: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
          font-family: $futuraMediumC;
          font-size: 1.125rem;
          line-height:  1.563rem;
          color: #ffffff;
        }
        border: none;
        border-bottom: 1px solid rgba(54, 54, 54, 0.3);
        
      }
    }
    &--submit {
      @media (max-width: 1355px) {
        position: absolute;
        top: 110%;
      }
      @media (max-width: 375px) {
        top: 140%;
        width: 340px;
      }
      input {
        @media (max-width: 375px) {
          width: 340px;
        }
        width: 200px;
        height: 51px;
        background: #e3b873;
        box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
        border-radius: 2px;
        font-family: $futuraDemiC;
        font-size: 0.9375rem;
        line-height: 1.625rem;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        border: none;
      }
    }
    &--checkbox {
      @media (max-width: 375px) {
        margin-top: 25px;
        align-self: flex-start;
      }
      align-self: center;
      margin-top: 5%;
      label {
        @media (max-width: 1355px) {
          color: #ffffff;
        }
        font-family: $futuraBookC;
        font-size:  1rem ;
        line-height:  1.375rem;
        color: #181818;
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        .checkmark {
          position: absolute;
          top: 0;
          left: 7px;
          height: 18px;
          width: 18px;
          background-color: #ccc;
          border-radius: 1px;
          &:after {
            content: "";
            position: absolute;
            display: none;
          }
        }
        & input:checked ~ .checkmark {
          background: #e3b873;
        }
        & input:checked ~ .checkmark:after {
          display: block;
        }
        & .checkmark:after {
          left: 6px;
          top: 1px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
    }
  }
}
