.main_stylistic {
 
  .main_stylistic--swiper {
    display: none;
    @media (max-width: 1355px) {
      display: block;
      width: 80%;
      margin-top: 5%;
      .swiper_image {
        max-width: 100%;
        margin-bottom: 30px;
      }
      .right_swiper_toggler {
        display: none;
      }
      .left_swiper_toggler {
        display: none;
      }
    }
    @media (max-width: 375px) {
      width: 340px;
      height: 242px;
      position: relative;
      .right_swiper_toggler {
        display: inline;
        position: absolute;
        right: -6px;
        top: 82px;
      }
      .left_swiper_toggler {
        display: inline;
        position: absolute;
        top: 94px;
        left: 10px;
      }
    }
  }

  @media (max-width: 1355px) {
    height: auto;
    background: $text-white;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 375px) {
    height: 198px;
  }

  height: 864px;
  background: url(./../images/Stylistic-Background.png) no-repeat;
  position: relative;
  display: flex;
  &::before {
    @media (max-width: 1355px) {
      display: none;
  }
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
  }
  &--styles_variety {
    @media (max-width: 1355px) {
      margin-top: 5%;
      align-items: center;
  }
  @media (max-width: 375px) {
    margin-top: 10px;
    margin-left: 0;
}
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin-left: 6.8%;
    margin-top: 137px;
    width: 299px;
  }

  &--gallery {
    @media (max-width: 1355px) {
      display: none;
    }
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-first {
      height: 946px;
      margin-left: 13%;
      position: relative;
      bottom: 4%;
    }
    &-second {
      height: 937px;
      margin-left: 3%;
      position: relative;
      bottom: 13%;
    }
  }

  &--title {
    @media (max-width: 500px) {
      margin-top: 0;
      width: 210px;
    text-align: center;
    }
    font-family: $yeseva-one;
    font-style: normal;
    font-weight: normal;
    font-size: 1.688rem;
    line-height:  2.313rem;
    text-transform: uppercase;
    color: #e3b873;
    margin-top: 47px;
  }

  &--manner {
    @media (max-width: 1355px) {
      display: none;
    }
    font-family: $proxima-nova;
    font-size: 1.25rem;
    line-height: 2.125rem;
    color: #fff;
    margin-top: 10px;

    &-checked {
      margin-top: 47px;
      color: #e3b873;
      text-decoration: underline;
    }
  }
}
