.main_products {
  @media (max-width: 1355px) {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  position: relative;
  height: 1074px;
  background-color: $base-background-color;
  .portfolio_projects {
    @media (max-width: 1355px) {
      flex-direction: column;
      height: auto;
      position: relative;
      margin-bottom: 190px;
    }
    @media (max-width: 900px) {
      align-items: center;
    }
    @media (max-width: 570px) {
      margin-bottom: 150px;
    }
    @media (max-width: 375px) {
      margin-top: 40px;
    }

    display: flex;
    height: 750px;
  }
  .description {
    @media (max-width: 1355px) {
      width: 100%;
      margin-top: 0;
      margin-left: 0;
      height: auto;
      align-items: center;
    }

    margin-top: 156px;
    margin-left: 7%;
    width: 441px;
    height: 511px;
    display: flex;
    flex-direction: column;
    &--container {
      @media (max-width: 1355px) {
        justify-content: center;
        &--title::after {
          display: none;
        }
      }
      @media (max-width: 375px) {
        width: 200px;
      }
      display: flex;
    }
    &--title {
      @media (max-width: 1355px) {
        text-align: center;
        margin-bottom: 1%;
      }
      font-family: "Yeseva One";
      font-style: normal;
      font-weight: normal;
      font-size: 1.688rem;
      line-height: 2.313rem;
      letter-spacing: -0.07em;
      text-transform: uppercase;
      color: $text-gold;
      width: 255px;
      &::after {
        @media (max-width: 1355px) {
          display: none;
        }
        content: "";
        display: inline-block;
        width: 92px;
        height: 1px;
        background-color: $text-gold;
        margin-bottom: 9px;
        margin-left: 38px;
      }
    }
    &--story {
      @media (max-width: 1355px) {
        text-align: center;
      }
      @media (max-width: 450px) {
        width: 90%;
      }
      @media (max-width: 375px) {
        margin-top: 40px;
        width: 293px;
        margin-bottom: 0;
      }
      font-family: "FuturaBookC";
      font-size: 1.125rem;
      line-height: 1.813rem;
      color: $text-white;
      width: 441px;
    }
  }
  .parameters {
    @media (max-width: 1355px) {
      position: absolute;
      top: 105%;
      left: 0;
    }
    @media (max-width: 700px) {
      left: 10%;
    }

    @media (max-width: 375px) {
      left: 0;
      top: 520px;
    }


    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &--item {
      flex-basis: 50%;
      span {
        font-family: "Yeseva One";
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.563rem;
        text-transform: uppercase;
        color: $text-gold;
      }
      p {
        font-family: "FuturaBookC";
        font-size: 0.9375rem;
        line-height: 1.25rem;
        color: $text-white;
      }
    }
  }

  .pagination {
    @media (max-width: 1355px) {
      display: none;
    }
    display: flex;
    margin-top: 20%;
    width: 206px;
    justify-content: space-between;
  }

  .demonstration {
    @media (max-width: 1355px) {
      margin-left: 0;
      margin-top: 4%;
    }
    @media (max-width: 700px) {
      width: 80%;
    }
    @media (max-width: 375px) {
      width: 340px;
      height: 241px;
      margin-top: 40px;
    }
    margin-left: 3.4%;
    &--navbar {
      @media (max-width: 1355px) {
        display: none;
      }
      margin-top: 110px;
      width: 623px;
    }

    &--slides {
      position: relative;
      @media (max-width: 1355px) {
        width: 100%;
        margin-top: 0;
        display: flex;
      }
      margin-top: 50px;
      width: 1383px;
      overflow: hidden;
      display: flex;
      .first_slide {
        display: inline-block;
        @media (max-width: 1355px) {
          display: none;
        }
        margin-right: 21px;
      }
      .second_slide {
        display: inline-block;
        @media (max-width: 1355px) {
          width: 100%;
        }
      }
      .slides_toggler_big {
        @media (max-width: 1355px) {
          display: none;
        }
        left: 729px;
        top: 200px;
        position: absolute;
      }
      .swiper_toggler_right {
        display: none;
        @media (max-width: 375px) {
          display: inline;
          position: absolute;
          right: 0;
          top: 87px;
        }
      }
      
      .swiper_toggler_left {
        display: none;
        @media (max-width: 375px) {
          display: inline;
          position: absolute;
          top: 100px;
          left: 10px;
        }
      }
    }
    &--links {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    &--link {
      font-family: "Yeseva One";
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.188rem;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.3);
      text-decoration: none;
      &-chosen {
        color: $text-gold;
        text-decoration: underline;
      }
    }
  }

  .chapter {
    @media (max-width: 1355px) {
      height: auto;
    }
    @media (max-width: 375px) {
      margin-top: 60px;
    }
    display: flex;
    width: 196px;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    &--title {
      font-family: "Yeseva One";
      font-size: 1.25rem;
      line-height: 1.75rem;
      color: $text-white;
      text-transform: uppercase;
    }
  }
  .video {
    @media (max-width: 1355px) {
      position: static;
      margin-bottom: 40px;
    }
    @media (max-width: 900px) {
      position: static;
      margin-bottom: 5%;
      height: 50vw;
      width: 80%;
    }

    @media (max-width: 375px) {
      margin-top: 40px;
      width: 340px;
      height: 207px;
    }
    margin-top: 20px;
    position: absolute;
    left: 20%;
    top: 82%;
    height: 434px;
    width: 817px;
  }
}
