.main_goals {
  height: 1200px;
  background-color: $base-background-color;
  display: flex;
  .goals_description {
    width: 337px;
    margin-top: 29%;
    margin-left: 4%;
    &--title {
      font-family: "FuturaDemiC";
      font-size: 15px;
      line-height: 21px;
      text-transform: uppercase;
      color: rgb(255, 255, 255);
    }
    &--heading_container {
      margin-top: 5%;
    }
    &--heading {
      font-family: "Yeseva One";
      font-style: normal;
      font-weight: normal;
      font-size: 27px;
      line-height: 37px;
      text-transform: uppercase;
      color: rgb(227, 184, 115);
      width: 320px;
      &::after {
        content: "";
        display: inline-block;
        width: 92px;
        height: 1px;
        background-color: $text-gold;
        margin-bottom: 9px;
        margin-left: 80px;
      }
    }
    &--number {
      margin-top: 24%;
      font-family: "Yeseva One";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;
      color: rgb(255, 255, 255);
    }
    &--mini_heading {
      width: 300px;
      margin-top: 5%;
      font-family: "Yeseva One";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;
      color: rgb(227, 184, 115);
    }
    &--goal_intro {
      margin-top: 5%;
      font-family: "FuturaBookC";
      font-size: 15px;
      line-height: 25px;
      color: rgb(255, 255, 255);
    }
    .pagination {
      display: flex;
      margin-top: 20%;
      width: 287px;
      justify-content: space-between;
      margin-top: 40%;
    }
  }
  &--list {
    width: 766px;
    margin-top: 36%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
  }
  .goals_list {
    display: flex;
    flex-wrap: wrap;
    height: 178px;
    width: 766px;
    &--item {
      height: 71px;
      width: 127px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      &-center {
        margin-left: 26%;
      }
      &-last {
        margin-left: 24%;
      }
    }
    &--item_number {
      font-family: "Yeseva One";
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 21px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.4);
      &:after {
        content: "";
        display: block;
        width: 19px;
        height: 1px;
        background-color: rgb(227, 184, 115, 0.4);
      }
    }

    &--item_name {
      font-family: "FuturaBookC";
      font-size: 15px;
      line-height: 18px;
      color: rgba(255, 255, 255, 0.4);
    }

    &--item-checked {
      .goals_list--item_number {
        color: rgba(255, 255, 255);
        &::after {
          background-color: rgb(227, 184, 115);
        }
      }
      .goals_list--item_name {
        color: rgba(255, 255, 255);
      }
    }
  }
  .goals_picture {
    margin-top: 7%;
  }
}
