.main_repair {
  @media (max-width: 1355px) {
    height: auto;
  }
  height: 780px;
  background-color: $text-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--chapter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &--title {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
  }
  .set {
    @media (max-width: 1355px) {
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 90%;
    }
    display: flex;
    width: 1236px;
    margin-top: 3%;
    justify-content: space-between;
    &--item {
      @media (max-width: 395px) {
        height: 484px;
        margin-bottom: 20px;
        margin-bottom: 40px;
      }
      height: 608px;
      position: relative;
    }
    &--item_view {
      @media (max-width: 395px) {
        height: 365px;
      }
    }
    &--item_description {
      @media (max-width: 395px) {
        height: 241px;
        width: 270px;
        left: 0;
        bottom: 2%;
      }
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
      width: 330px;
      height: 286px;
      padding: 25px;
      position: absolute;
      left: 8%;
      bottom: 6%;
      z-index: 1;
      background-color: $text-white;
    }
    &--title {
      margin: 0;
      font-family: "Yeseva One";
      font-style: normal;
      font-weight: normal;
      font-size: 1.125rem;
      line-height: 1.563rem;
      color: #363636;
      padding-left: 8%;
    }
    &--services_list {
      font-family: "FuturaBookC";
      font-size: 0.9375rem;
      line-height:  1.563rem;
      color: #959595;
    }
    &--item_price {
      @media (max-width: 395px) {
        height: 40px;
        width: 190px;
        top: 94%;
        left: 0;
        bottom: 0;
      }
      width: 228px;
      height: 54px;
      background: #e3b873;
      box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 1.125rem;
      line-height:  1.563rem;
      text-transform: uppercase;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 2%;
      left: 8%;
      z-index: 2;
    }
  }
}
